body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}
img {
    width: 100%;
    height: auto;
}
p.a {
    font-weight: bold;
    color: #000000;
    font-size: 20px;
    border: 3px solid #f50a0a;
    padding: 50px 10px;
}